= render partial: 'toggle', locals: {toggle_safe_mode: @toggle_safe_mode, safe_mode: @safe_mode }

#messages.grid
  - @messages.each do |msg|
    .row.message{id: dom_id(msg)}
      .col-sm-2= msg.author
      .col-sm-10
        %span= msg.content
        - if msg.kind == 'safe'
          = link_to mark_as_unsafe_path(msg.id, redirect_to: root_url(safe: @safe_mode)), class: 'is_unsafe', method: :put do
            %button.btn.btn-default.unsafe= "Mark as unsafe"
        - else
          = link_to mark_as_safe_path(msg.id, redirect_to: root_url(safe: @safe_mode)), class: 'is_safe', method: :put do
            %button.btn.btn-default.safe= "Mark as safe"
